<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lechuan.midunovel.demo">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.lechuan.midunovel1.demo.SdkApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="tuia-online"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">

        <!-- 推啊appkey -->
        <meta-data
            android:name="TUIA_APPKEY"
            android:value="4UycwwZv41rwzne1ZXgtQBgDSnPH" />

        <meta-data
            android:name="TUIA_APPSECRET"
            android:value="3WpyTLfifQyGhvgivxtUjvzXxtkzdceETBU2n5g" />

        <activity android:name="com.lechuan.midunovel1.demo.SbannerActivity" />
        <activity android:name="com.lechuan.midunovel1.demo.BannerActivity" />
        <activity android:name="com.lechuan.midunovel1.demo.InterstitialActivity" />
        <activity android:name="com.lechuan.midunovel1.demo.AppWallActivity" />
        <activity android:name="com.lechuan.midunovel1.demo.DobberActivity" />
        <activity android:name="com.lechuan.midunovel1.demo.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.lechuan.midunovel1.demo.NonStandarActivity" />
        <activity
            android:name="com.lechuan.midunovel1.demo.NativeInterstitialActivity"
            android:configChanges="screenSize|orientation" />
    </application>

</manifest>